.container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 30px;
    margin-left: 60px;
    padding: 60px;
    border: 4px solid rgb(2, 168, 16);
    border-radius: 5%;
    height: 100vh;
}
body{
    background: rgb(14, 70, 11);
    color: white;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, tr{
    border: 2px solid white;
}
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}


header{
    width: 71%;
    margin: 30px;
    margin-left: 120px;
    padding: 60px;
    text-align: center;
    border: 4px solid rgb(2, 168, 16);
    border-radius: 5%;
}


input{
    display: flex;
    
}

label{
    display: flex;
    justify-content: left;
}

textarea{
    display: flex;
    justify-content: left;  
}

.my-button{
    background-color: rgb(14, 70, 11);
    border: 3px solid rgb(2, 168, 16);
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: left;
    background-color: rgb(14, 70, 11);
    border: 3px solid rgb(2, 168, 16);
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}

.admin-button{
    display: flex;
    justify-content: left;
    background-color: rgb(75, 0, 0);
    border: 3px solid rgb(201, 2, 2);
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
